@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, world!</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>

That's it, you have created basic ASP.NET application that diplayss Hello, World! and server time.

## References

- [Source Code](https://github.com/0xdhrv/dotnet/tree/main/HelloWorldConsoleApp)